* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Bricolage Grotesque', system-ui, -apple-system, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    color: #ffffff;
    background-color: #000000;
    background-image: url('background.png');
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header p {
    color: #aaaaaa;
    margin-top: 4px;
}

@keyframes headerBounceIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    20% {
        opacity: 1;
        transform: scale(1.05);
    }

    40% {
        transform: scale(0.95);
    }

    60% {
        transform: scale(1.02);
    }

    80% {
        transform: scale(0.98);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes headerFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

.header-bounce-in {
    animation: headerBounceIn 0.8s ease forwards;
}

.header-fade-out {
    animation: headerFadeOut 0.4s ease forwards;
}

#confetti {
    position: fixed;
    /* removes from layout */
    inset: 0;
    /* full screen */
    width: 300px;
    height: 300px;
    left: calc(50% - 150px);

    object-fit: cover;
    /* fill screen nicely */

    pointer-events: none;
    /* allow clicks through it */
    z-index: 9999;
    /* above everything */

    display: none;
    /* hidden by default */
}

h1 {
    font-family: 'Bricolage Grotesque', system-ui, -apple-system, sans-serif;
    font-size: 32px;
    margin-bottom: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.panel {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.crossword-word {
    position: relative;
    display: inline-block;
}

.clue {
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
}

.clue p {
    font-size: 16px;
    color: #00000081;
    letter-spacing: 4px;
    margin: 0;
}

.grid {
    display: flex;
    /* gap: 4px; */
    border-radius: 4px;
}

.cell {
    width: 48px;
    height: 48px;
    border: 2px solid #ff5a73;
    margin-left: -2px;

    background-color: #fff;
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;

    /* font-family: monospace; */
    font-size: 24px;
    text-transform: uppercase;
}

.cell:first-child {
    margin-left: 0;
    border-radius: 8px 0 0 8px;
}

.cell:last-child {
    margin-right: 0;
    border-radius: 0 8px 8px 0;
}

.cell.active {
    background-color: #ffddea;
    border-color: #e72b76;
    border-width: 4px;
}

.cell.locked {
    background-color: #c2ffe9;
    border-color: #00a468;
}

.hidden-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    caret-color: transparent;
    pointer-events: none;
}

.check-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 40px;
    height: 40px;
    margin-top: 16px;
    padding: 8px 16px;
    background: #000;
    font-family: 'Bricolage Grotesque', system-ui, -apple-system, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    /* transition: transform 0.2s ease; */
}

.check-button:hover {
    border: 1px solid #fff;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.hint-card {
    width: 300px;
    height: 40px;
    perspective: 800px;
    cursor: pointer;
}

.hint-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.hint-card.revealed .hint-inner {
    transform: rotateX(180deg);
}

.hint-front,
.hint-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid #0000003b; */

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.hint-front {
    background-color: #ffffff52;
    color: black;
}

.hint-back {
    transform: rotateX(180deg);

    background-color: #00000081;
    color: #d6d6d8;
    /* border: 1px solid #e72b76; */
    /* font-weight: bold; */
}